@import '../dependencies/all';

@media (min-width: $ipad-screen-width) {
    .layout-constrainwidth {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
