@import '../dependencies/all';

.grid-footer
{
    .columns
    {
        display: flex;
        flex-basis: 50%;
    }

    .column
    {
        display: block;
        flex: 1;
        margin: 16px;

        text-align: left;

        ul
        {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-inline-start: 0;
        }

        li
        {
            list-style: none;
        }

        a
        {
            line-height: 16px;
            display: inline-block;
            color: $text-sub;
            text-decoration: none;
            cursor: pointer;

            &::after
            {
                text-decoration: none;
                content: ' ›';
            }

            &:hover
            {
                color: $brand-accent-color;
            }

            &:focus
            {
                background: $alert-color;
                color: $on-alert-color;
                outline: none;
            }

            
            
        }
    }
    a[href^="https://duckduckgo.com"]
    {
        &::after
        {
            display: inline-block;
            text-decoration: none;
            content: ' ';
            width: 20px;
            height: 14px;
            background-image: url("../image/arrow-right-white.svg");
            background-position: right top;
            background-repeat: no-repeat;
            background-size: 16px 16px;
            
        }

        &:focus
        {
            &::after
            {
                background-image: url("../image/arrow-right-black.svg");
            }
        }
        
    }
}

@media screen and(max-width: $ipad-screen-width)
{
    .grid-footer
    {
        .columns
        {
            display: block;
        }
    }
}